.main-container {
  position: absolute;
  top: 0;
  background-color: rgb(26, 26, 26);
  height: 482vh;
  width: 100%;
  /* border: 1px solid red; */
  z-index: -10000;
}


.main-first-section {
  /* display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100vh; */

  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0vh;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 0.6s;

  background-image: url("background_003.jpg");
  background-size: cover;
}

/* .main-background-image {
  width: 100vw;
  z-index: -100;

} */

.main-title {
  position: absolute;
  z-index: -99;
  font-size: 100px;
  color: white;
  opacity: 0;

}

.fadeIn {
  animation-fill-mode: forwards;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: 0.8s;
  animation-duration: 2s;
}


.main-second-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 98vh;
  background-color: lavender;
}

.main-third-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 101;
  top: 190vh;
  background-color: rgb(26, 26, 26);
}

.main-fourth-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 102;
  top: 285vh;
  background-color: lavender;
}

.main-fifth-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 102;
  top: 380vh;
  background-color: rgb(26, 26, 26);
}

.main-footer {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 5px;
  font-size: 12px;
}