.main-container {
  background-color: rgb(29, 23, 21);
  color: white;
	overflow-x: hidden;
  height: 100vh;
	scroll-snap-type: y mandatory;	
  display: flex;
  flex-direction: column;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}

.main-section {
	width: 100vw;
	min-height: 100vh;
	scroll-snap-align: start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.main-section.alt {
  background-color: rgb(255, 193, 122);
}

.main-image {
  max-width: 55vw;
  padding: 30px;
}

.peek {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  background-color: rgb(255, 193, 122);
  font-size: 3vh;
}

.peek.alt {
  background-color: rgb(29, 23, 21);
}

.peek .down-arrow {
  margin: 0 0.5vw;
  opacity: 0.8;
  /* font-size: 1.2em; */
}

.main-first-section { 
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 0.6s;

  background-image: url("background_005.jpeg");
  background-size: cover;
}

.main-title {
  font-size: 100px;
  opacity: 0;
}

.main-title:hover {
  cursor: default;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
    padding-bottom: 60px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
    padding-bottom: 60px;
  }
}

.fade-in {
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  animation-delay: 0.7s;
  animation-duration: 1s;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.final-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-box {
  line-height: 2em;
  letter-spacing: 0.05em;
  padding: 10px;
}

.sub-header {
  font-size: 48px;

  margin-bottom: 18px;
}

.main-fifth-section {
  background-image: url("./background_006.jpg");
  background-size: cover;
  opacity: 0.8;
}

.main-footer {
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.final-section a {
  color: white;
  text-decoration: none;
  transition: 300ms ease;
}

/* .final-section a:hover {
  color: rgb(255, 193, 122);
  transition: 300ms ease;
} */

.get-started {
  color: white;
  background-color: rgba(29, 23, 21, 0.8);
  padding: 5vh;
  min-width: 500px;
  border-radius: 3px;
}

.button-box {
  background-color: rgba(220, 220, 220, 0.2);
  margin: 6px;
  width: 150px;
  border-radius: 2em;
  transition: 500ms ease;
  margin: 15px;
  padding: 5px;
}

.button-box:hover {
  cursor: pointer;
  background-color: rgba(220, 220, 220, 0.5);
  transition: 500ms ease;
}

.get-started-links {
  font-size: 20px;
  line-height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible, .invisible {
  opacity: 0.0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1.0;
}

.dev-box {
  width: 20vw;
  height: 50vh;
  /* border: 1px solid red; */
}

.dev-image {
  width: 15vw;
  height: 15vw;
  border-radius: 18vw;
  margin-bottom: 3vh;
}

.dev-links {
  display: flex;
  justify-content: center;
  /* padding: 2vh; */
}

.dev-links a {
  margin: 15px;
}

.main-about-section a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.main-about-section a:hover, .main-about-section a:focus, .main-about-section a:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}









@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.main-image {
  border-radius: 40px;
}