#map-container{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.posts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  width: 37vw;
}