.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 30px; */
    background-color: transparent;
    /* background-color: lightcoral; */
    color: white;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 45px;
}

.nav-bar.orange {
  background-color: sandybrown;
}

.nav-title {
  font-size: 24px;
  transition: 300ms ease;
  margin: 10px 30px;
  min-width: 350px;
}
.nav-title:hover {
  opacity: 0.8;
  transition: 300ms ease;
}

.nav-links {
  margin: 10px 30px;

}

.nav-bar a {
    height: 20px;
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
  opacity: 0.8;
  transition: 300ms ease;
}

.nav-button {
  margin: 0px 10px;
}

.nav-button:hover, .nav-button.logout-button:hover {
  opacity: 0.8;
  transition: 300ms ease;
  cursor: pointer;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.italic {
  font-style: italic;
  opacity: 0.6;
}

.italic:hover {
  cursor: default;
}