.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 30px; */
    background-color: transparent;
    /* background-color: lightcoral; */
    color: white;
    z-index: 100;
    position: fixed;
    width: 100vw;
    min-width: 800px;
    height: 45px;
}

.nav-bar.orange {
  background-color: rgb(29, 23, 21);
}

.nav-title {
  font-size: 24px;
  transition: 300ms ease;
  /* padding: 10px 30px; */
  min-width: 30vw;
}
.nav-title:hover {
  opacity: 0.8;
  transition: 300ms ease;
}

.nav-links {
  /* padding: 10px 30px; */
  min-width: 70vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
  opacity: 0.8;
  transition: 300ms ease;
}

.nav-button {
  margin: 0px 10px;
  min-width: 75px;
}

.nav-button:hover, .nav-button.logout-button:hover {
  opacity: 0.8;
  transition: 300ms ease;
  cursor: pointer;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.italic {
  font-style: italic;
  opacity: 0.6;
}

.italic:hover {
  cursor: default;
}