.list{
  width: 50%;
  padding-left: 15px;
}

.guest-list-header {
  font-size: 30px;
}

#event-form {
  padding-top: 60px;
}

#create-form {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  // align-items: center;
  // flex-direction: column;
}

.guest-list-header {
  font-size: 30px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid black;
  width: 258px;
}

.each-email li {
  padding: 0 0 5px 3px;
}

// .event-inputs {
//   display: flex;
//   align-items: flex-end;
// }

.event-submit {
  width: 257px;
  padding: 7px 0 7px 0;
}

.event-inputs input[type=text] {
  height: 30px;
  width: 253px;
  padding: 0 0 0 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.event-inputs input[type=datetime-local] {
  height: 30px;
  width: 253px;
  padding: 0 0 0 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.event-inputs input[type=file] {
  // height: 30px;
  width: 258px;
}

.event-input {
  padding-bottom: 10px;

}

.event-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  padding-right: 10px;
}

.event-input-email{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.event-input-email button{
  width: 40%
}

#emailAddress {
  width: 55%;
  height: 30px;
  // border-radius: 1px;
  // border-radius: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 0 0 5px;
}

.event-inputs h1 {
  display: flex;
  // justify-content: flex-start;
  align-items: flex-start;
}

.form-head {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.event-form button {
  border-radius: 3px;
}

.event-form-description{
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.event-form-description::placeholder {
  color: #5A6A74;
}

.event-inputs input::placeholder {
  color: #5A6A74;
}

.event-inputs button{
  border-radius: 3px;
  // color: purple;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}
.event-inputs button:hover{
  border-radius: 3px;
  // color: purple;
  background-color: rgba(160, 160, 160, 0.1);
  transition: 300ms ease;
}

label {
  display: inline-block;
  position:absolute;
  left: 15px;
  top: 16px;
  transition: all 150ms ease-in;
  color: #676767;
}

label.field-active {
  transform: translateY(-25px);
  font-size: .9em;
  color: #000;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
}

.floating-label {
  -webkit-appearance: none !important;
}