.list{
  width: 50%;
  padding-left: 15px;
}

.guest-list-header {
  font-size: 30px;
}

#event-form {
  padding-top: 60px;
}

#create-form {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  // align-items: center;
  // flex-direction: column;
}

.guest-list-header {
  font-size: 30px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid black;
  width: 258px;
}

.each-email li {
  padding: 0 0 5px 3px;
}

// .event-inputs {
//   display: flex;
//   align-items: flex-end;
// }

.event-submit {
  width: 257px;
  padding: 7px 0 7px 0;
}

.event-inputs input[type=text] {
  height: 30px;
  width: 253px;
  padding: 0 0 0 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.event-inputs input[type=datetime-local] {
  height: 30px;
  width: 253px;
  padding: 0 0 0 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}


.event-inputs input[type=datetime-local]:hover {
  cursor: pointer;
}

.event-inputs input[type=file] {
  // height: 30px;
  width: 258px;
}

.event-input {
  padding-bottom: 10px;

}

.event-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  padding-right: 10px;
}

.event-input-email{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.event-input-email button{
  width: 40%
}

#emailAddress {
  width: 55%;
  height: 30px;
  // border-radius: 1px;
  // border-radius: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 0 0 5px;
}

.event-inputs h1 {
  display: flex;
  // justify-content: flex-start;
  align-items: flex-start;
}

.form-head {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.event-form button {
  border-radius: 3px;
}

.event-form-description{
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 253px;
}

.event-form-description::placeholder {
  color: #5A6A74;
}

.event-inputs input::placeholder {
  color: #5A6A74;
}

.event-inputs button{
  border-radius: 3px;
  // color: purple;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}
.event-inputs button:hover{
  border-radius: 3px;
  // color: purple;
  background-color: rgba(160, 160, 160, 0.1);
  transition: 300ms ease;
}

label {
  display: inline-block;
  position:absolute;
  left: 15px;
  top: 16px;
  transition: all 150ms ease-in;
  color: #676767;
}

label.field-active {
  transform: translateY(-25px);
  font-size: .9em;
  color: #000;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
}

.floating-label {
  -webkit-appearance: none !important;
}

input[type=file] {
  // display:none;
// margin:10px;
}


// .file > input[type="file"] {
//   position: absoulte; 
//   opacity: 0; 
//   top: 0; 
//   left: 0; 
//   right: 0; 
//   bottom: 0 
// }

// .file > label { 
//   position: absolute; 
//   top: 0; 
//   right: 0; 
//   left: 0; 
//   bottom: 0; 
//   background-color: #666; 
//   color: #fff; 
//   line-height: 30px; 
//   text-align: center; 
//   cursor: pointer; 
// }

.file-label {
  padding-bottom: 5px;
  // font-weight: 550;
  font-size: 16px;
  color: #49565F;
}

.file-upload {
  // padding: 0 0 0 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  // width: 253px;
  width: 258px;
  // margin-bottom: 10px;
}

.file-upload {
  // padding: 5px;
}

.file {
  // padding: 5px;
  padding: 5px 5px 0px 5px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Add Image';
  // display: inline-block;
  // border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 15px;
  // padding: 5px 5px 5px 5px;
  // outline: none;
  // white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
.custom-file-input:hover::before {
  // border-color: black;
  background-color: rgba(160, 160, 160, 0.1);
  transition: 300ms ease;
}
.custom-file-input:active::before {
  // background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  // display: none;
}

// .custom-file-input::before:hover {
//   background-color: rgba(160, 160, 160, 0.1);
//   transition: 300ms ease;
// }

.custom-file-input::after {
  display: none;
  visibility: hidden;
}

.custom-file-input::-ms-value {
  display: none;
}

// .file-custom:after {
//     content: "Choose file...";
// }

// *, *:before, *:after {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

// .file-custom {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 5;
//     height: 2.5rem;
//     padding: .5rem 1rem;
//     line-height: 1.5;
//     color: #555;
//     background-color: #fff;
//     border: .075rem solid #ddd;
//     border-radius: .25rem;
//     box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }

// input[type="file" i] {
//     -webkit-appearance: initial;
//     background-color: initial;
//     cursor: default;
//     align-items: baseline;
//     color: inherit;
//     text-align: start !important;
//     padding: initial;
//     border: initial;
// }

// .file input {
//     min-width: 14rem;
//     margin: 0;
//     filter: alpha(opacity=0);
//     opacity: 0;
// }