body:hover {
    cursor: crosshair;
}

.event-show-box {
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

.nav-color {
    height: 45px;
    background-color: rgb(29, 23, 21);
    position: fixed;
    top: 10;
    /* z-index: 99; */
    color: white;
    position: fixed;
    width: 100%;
}

.sidebar-wrapper {
    display: box;
    position: static;
}

.sidebar {
    padding-top: 45px;
    display: flex;
    flex-direction: column;

    align-items: center;
    /* border: 1px solid blue; */
    min-width: 50px;
    width: 16vw;
    left: -15vw;
    height: 100vh;
    background-color: rgba(29, 23, 21, 0.1);
    color: black;
    position: fixed;
    z-index: 50;
    padding-top: 30vh;

    /* display: inline-block;
    vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.sidebar:hover, .sidebar:focus, .sidebar:active {
    -webkit-transform: translateX(15vw);
    transform: translateX(15vw);
}



.sidebar:hover, .sidebar:focus, .sidebar:active {
    -webkit-transform: translateX(15vw);
    transform: translateX(15vw);
}


/* <i className="fas fa-chevron-right"></i> */

.sidebar-title {
    font-size: 2vw;
    margin: 1em;
}



.side-nav-links {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.sidebar-nav {
    border-top: 1px solid rgb(29, 23, 21);

    font-size: 1vw;
    text-align: center;
    width: 10vw;
    padding: 1vw;
} 

.sidebar-nav-label a {
    text-decoration: none;
    color: black;
}

.sidebar-nav-label {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    transition: 300ms ease;
}

.sidebar-nav-label:hover, .sidebar-nav-label:focus, .sidebar-nav-label:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
    cursor: pointer;
    opacity: 0.6;
    transition: 300ms ease;
}





.event-page {
    padding-top: 45px;
    padding-left: 16vw;
    border: 1px solid green;
    height: fit-content;


}

.event-info{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 30px;
}

#create-form{
    padding-top: 45px;
}












/* .create-event-outer-wrapper {
    background-color: rgb(255, 193, 122);
    min-height: 100vh;
}

.create-event-container {
    padding-top: 45px;
    display: flex;
} */
