.user-show {
  display: flex;
  justify-content: center;
  height: 100%;
}

.user-show-box{
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 50px;
}

.user-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("grey.gif");
  background-size: cover;
  z-index: -1;
}

.invite-host {
 height: 100vh;
 width: 50vw;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.user-event{
  display: flex;
  justify-content: center;
}


.user-event-details {
  /* width: 40vw; */
  text-align: center;
  padding-top: 1vw;
  margin: 10px;
  /*margin-right: 50px;*/
  padding-bottom: 1vw;
  display: flex;
  width: 42vw;
  flex-direction: column;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.hosted-event .user-event-details {
  background-color: rgba(255, 215, 196, 0.6);
  transition: 300ms ease;
}

.invited-event .user-event-details {
  background-color: rgb(196, 224, 255, 0.6);
  transition: 300ms ease;
}

.hosted-event .user-event-details:hover {
  background-color: rgba(255, 215, 196, 0.9);
  transition: 300ms ease;
}

.invited-event .user-event-details:hover {
  background-color: rgb(196, 224, 255, 0.9);
  transition: 300ms ease;
}

.user-event-details:hover, .user-event-details:focus, .user-event-details:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  background-color: rgba(0, 0, 0, 0.05);
  transition: 500ms ease;
}

.user-show-event-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.left { 
  width: 40vw;
  height: 22vw;
  margin: 0vw 1vw 1vw 1vw;
}

.text {
  color: black;
  font-size: 14pt;
  display: flex;
  align-items: initial;
  justify-content: flex-end;
  overflow-wrap: normal;
}

.text-title {
  margin: 0.5vw;
  margin-right: 0.05vw;
  width: 7vw;
  font-weight: bold;
  font-size: 1vw;
  text-align: right;
}

.user-event a{
   text-decoration: none
}

.invite-host > h1 {
  font-size: 3vw;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: bold;
}

.invite-host {
  width: 50vw;
}

.text-info{
  margin: 0.5vw;
  width: 45vw;
  min-width: 20vw;
  padding-right: 0.1vw;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  overflow-wrap: none;
  font-size: 1vw;
}
